<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>Default</ion-label>
  <ion-input></ion-input>

  <ion-label>Com valor</ion-label>
  <ion-input value="1234"></ion-input>

  <ion-label>Placeholder</ion-label>
  <ion-input placeholder="Seu nome"></ion-input>

  <ion-label>Input com icone de limpar</ion-label>
  <ion-input clearInput value="Curso"></ion-input>

  <ion-label>Input com Numericos</ion-label>
  <ion-input type="number"></ion-input>

  <ion-label>Input com email</ion-label>
  <ion-input type="email"></ion-input>

  <ion-label>Input com tel</ion-label>
  <ion-input type="tel"></ion-input>

  <ion-label>Input com url</ion-label>
  <ion-input type="url"></ion-input>

  <ion-label>Input com search</ion-label>
  <ion-input type="search"></ion-input>

  <ion-label>Input com text</ion-label>
  <ion-input type="text"></ion-input>

<ion-item>
    <ion-label>Input com Senha</ion-label>
    <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Input com floating</ion-label>
    <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="fixed">Input com fixed</ion-label>
    <ion-input type="password"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="stacked">Input com stacked</ion-label>
    <ion-input type="password"></ion-input>
</ion-item>

<ion-label>Default</ion-label>
  <ion-input color="danger"></ion-input>
  
</ion-content>