<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Button
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button>Button</ion-button>
  <ion-button href="">Link</ion-button>
  <ion-button href="/componente" goBack="">voltar</ion-button>
  <ion-button color="secondary">secondary</ion-button>
  <ion-button expand="full">Full</ion-button>
  <ion-button expand="block">Full</ion-button>
  <ion-button round="1">Full</ion-button>
  <ion-button fill="outline">
    <ion-icon name="star" slot="start"></ion-icon>
    Like
  </ion-button>
  <ion-button>
    <ion-icon name="star" slot="end"></ion-icon>
    Like
  </ion-button>
  <ion-button>
    <ion-icon name="star" slot="icon-only"></ion-icon>
  </ion-button>
  <ion-button>
      <ion-icon name="star" ></ion-icon>
    </ion-button>

    <ion-button color="dark" size="small">Pequeno</ion-button>
    <ion-button color="dark">Medio</ion-button>
    <ion-button color="dark" size="large">Grande</ion-button>





</ion-content>